# Папка для настроек Visual Studio
.vs/

# Конфигурационные файлы
*.user
*.suo

# Папки для временных данных
*.obj/
*.bin/

# Файлы сборки
*.dll
*.exe

# Лог-файлы
*.log

# Временные файлы и файлы кеша
*.cache
*.tmp

# Конфигурации и настройки Visual Studio Code
.vscode/

# Папка для выходных файлов сборки
bin/
obj/
